
div#contribution-type-form div.inputs {
	width: 60%;
	
}

div#location_form {
	margin-top: 12px;
}

/* User Profiles integration */

h2.contribution-userprofile  {
	margin-bottom: 3px;
}

.contribution-userprofile-visibility {
	cursor: pointer;
}

p#contribution-userprofile-visibility {
	margin: 2px;
}

div.contribution-userprofile.exists {
	display: none;
}

#contribution-type-form div.field {
	margin-bottom: 1em;
}

#contribution-type-form div.field p.explanation {
	margin-top: 0.5em;
}

/* fcd1, 02/18/15: */
/* BEGIN CUL CSS customization */

body.contribute-form,
body.contribute-thank-you {
  color: #000;
  background: #444;
}

.contribute-form #wrap #primary h2,
.contribute-thank-you #wrap #primary h2 {
  text-align: center;
}

#wrap {
  width: 950px;
  margin: 0px auto;
  overflow: hidden;
  background-color: #fff;
  font-size: larger;
}

.contribute-banner {
  margin: 0px auto;
  text-align: center;
  background-color: #000;
/*  background-color: #444; */
}

.footer11px,
.copyright-footer {
  width: 950px;
  margin: 0px auto;
  overflow: hidden;
  color: #fff;
  background-color: #444;
  text-align: center;
  font-size: 11px;
  padding-top: 6px;
}

.footer11px a,
.footer11px a:visited,
.copyright-footer a,
.copyright-footer a:visited {
  color: #eee;
}

.contribute-form #wrap #primary #contribution-type-form .field .two.columns.alpha {
  padding-bottom: 6px;
}

.contribute-form #wrap #primary #contribution-type-form .field .inputs .explanation {
  display: none;
}

.contribute-form #wrap #primary #contribution-type-form .field .inputs.five.columns.omega .input-block .input textarea {
  width: 100%;
}

.contribute-thank-you #primary p {
  margin: 1em;
}

.contribute-form #primary #form-submit {
  margin-top: 2em;
}

/* fcd1, 02/18/15: */
/* BEGIN CUL CSS customization */